a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}

.btn-add{
    background:#fff !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color:#000;
    border:none;
    padding: 5px 8px !important;
    border-radius: 10px !important;
    margin-right: 10px;
}
.btn-add:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn{
    background:#f5f5f5;   
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color:#fff;
    border:none;
    padding: 3px 6px !important;
    border-radius: 10px !important;
    margin-right: 10px;
}
.btn img{
height: 20px;

}
.btn:hover{ 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15), 4px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}

.btn-download{
    background: #5980f8;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-download:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}


.btn-details{
    background:#aeb43d;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-details:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-reset{
    color: #fff;
    background: #daaa1d;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px 9px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    border: none;
}
.btn-reset:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}

.btn-print:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
}
.btn-submit{
    color: rgba(255,255,255,0.8);
    background: linear-gradient(#45c8f1,#0c5460);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;    
    padding: 5px 15px;  ;
    border: none;
    border-radius: 10px; 
}
.btn-submit:hover{
    color: #fff;
    background-color: #D31128;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.btn-print{
    color: #fff;
    background: #49916d;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px 9px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    border: none;
}
.btn-change{
    color: #313133;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    font-family: 'Raleway', sans-serif;
    font-size: 15px;    
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 2px 20px;
    margin: 0 15px;
    border: none;    
    border-radius: 50px;
  
}
.btn-change:hover{    
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff !important;
    text-decoration: none;    
} 
.btn-logout{    
    color: #fff !important;
    background: linear-gradient(90deg, rgb(178, 69, 42) 0%, rgb(202, 46, 35)100%);
    font-family: 'Raleway', sans-serif;
    font-size: 15px;    
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase; 
    width: 240px;   
    padding: 5px 20px;
    margin: 0 30px;
    border: none;    
    border-radius: 50px;
   
}
.btn-logout:hover{    
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #313133 !important;    
    text-decoration: none;     
}
.btn-search{
    border:none;
    /* background: #000; */
    background: rgba(235,237,240) !important;
     border-radius: 0px 20px 20px 0px;

  }
.title {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 25px;
   
}

 .title:after {
    content: "";
    background-color: #00a9ef;
    height: 3px;
    width: 60px;
    margin: 10px 0 0;
    display: block;
    clear: both;
    
    
}

/* form */
.form-content{
    font-family: 'Roboto', sans-serif;
    /* padding: 0 10px; */
}
.form-content .form-horizontal{
    background: rgba(235,237,240) !important;
    /* background: rgba(241,240,255, .9); */
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 10px;
   
}

.form-horizontal .form-group{
   padding: 0px 40px;
}
.form-group label{
   color: #000;
}
.form-group .form-control{     
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
   /* border: none;   
   border-bottom:  2px  solid rgb(63, 59, 59);
   outline: none;  */

    /* background: rgba(241,240,255, .9); */
    /* background: rgba(235,237,240) !important; */
}

.form-horizontal .form-control::placeholder{
    color: #999;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}




/* Table */
.t-head{
    /* background: #f0f5fb;    */
    background: #e8eaec;   
    color: #000;  
   
}
.t-body{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
}
.t-row{
    background: #f5f5f5;
}
.body-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0px 10px 30px 30px;
    margin-top: 25px;
    border-radius: 5px;
  }











@media only screen and (max-width: 880px){
    .btn-responsive{       
        display: flex;        
        align-items: center;
        margin-bottom: 5px;
    }
    .btn-edit{
        margin-bottom: 10px!important;
    }
    
	
}
@media only screen and (max-width: 1280px){
    .btn-download{       
        display: flex;        
        
    }
    .line_height {
        line-height: 20px !important;
    
    }
   
    
	
}
