a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
.form-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;    
}
.btn-add{
    color: #fff;
    background: #00a9ef;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px 9px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
.btn-add:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-edit{
    /* background:#daaa1d; */
    background:#3db8ac;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-edit:hover{
    /* background: #21537f;
    color:#fff; */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-delete{
    background:#ff6d12;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-delete:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-download{
    background: #5980f8;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-download:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-active{
    background:#3a900c;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-active:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-inactive{
    background:#b02f0f;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-inactive:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-details{
    background:#aeb43d;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
}
.btn-details:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-reset{
    color: #fff;
    background: #daaa1d;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px 9px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    border: none;
}
.btn-reset:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
    text-decoration: none;
}
.btn-submit:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
}
.btn-print:hover{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #fff;
}
.btn-submit{
    color: #fff;
    background: #00a9ef;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px 9px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    border: none;
}
.btn-print{
    color: #fff;
    background: #49916d;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px 9px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    border: none;
}

/* form */
.select {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}
.form-container {
    background-color: #fff;
    font-family: "Titillium Web", sans-serif;
    font-size: 0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
}

.title {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 25px;
   
}

 .title:after {
    content: "";
    background-color: #00a9ef;
    height: 3px;
    width: 60px;
    margin: 10px 0 0;
    display: block;
    clear: both;
    
    
}

.form-container .sub-title {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding-top: 50px;
}




 .form-group label {
    font-size: 17px;
    font-weight: 600;
}

.form-control {
    color: #666;
    background: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid #e7e7e7;
    box-shadow: none;
}

.form-container .form-horizontal .form-control:focus {
    box-shadow: 1px 1px 5px #dcdcdc;
}
@media only screen and (max-width: 880px){
    .btn-responsive{       
        display: flex;        
        align-items: center;
        margin-bottom: 5px;
    }
    /* .btn-delete{
        margin-top: 10px!important;
    } */
    
	
}
@media only screen and (max-width: 1080px){
    .btn-download{       
        display: flex;        
        
    }
   
    
	
}
