.vs-pagination > li.vs-pagination--active a {
    color: #f8f9fa !important;
    background-color: #1d5eab !important;
    font-weight: 600;
    position: relative;
    z-index: 1;
    border-radius: 50px;
}