.action-list img{
    height: 40px;
    color: red;
}
.form-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
.btn-add{
    background: #337ab7;
    padding: 8px 20px;
    border-radius: 10px;
    color: #fff;
}
.btn-add:hover{
    background: #21537f;
    color: #fff;

}
.btn-edit{
    background:#daaa1d;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 10px;
}
.btn-edit:hover{
    background: #21537f;;
}
.btn-delete{
    background:#ff6d12;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 10px;
}
.btn-delete:hover{
    background: #21537f;;
}
.btn-active{
    background:#3a900c;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 10px;
}
.btn-active:hover{
    background: #21537f;;
}
.btn-inactive{
    background:#b02f0f;
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 10px;
}
.btn-inactive:hover{
    background: #21537f;;
}
.btn-submit{
    padding: 5px 20px;
    background:#337ab7;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.btn-submit:hover{
    background: #21537f;;
}
