ul li{
    list-style: none;
}

.title{
    text-align: center;
    color: #000000bd;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
 .title:after{
    content: '';
    background-color: #000;
    height: 2px;
    width: 60px;
    margin: 3px auto 0;
    clear: both;
    display: block;
    /* margin-bottom: 40px; */
}
@media only screen and (max-width: 667px) {
    .title{        
        font-size: 20px;        
        
    }
   

}